<%- include('layout', { title: 'Local Library Home' }) %>

<div class="content">
  <h2>Dynamic Content:</h2>
  <p>Total Books: <%= data.book_count %></p>
  <p>Total Authors: <%= data.author_count %></p>
</div>
