<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Ryan KHATI 20202910 L3 MIAGE</p>
  
    <h2>Library Catalog</h2>
      <ul>
        <li><a href="/catalog/books">All Books</a></li>
        <li><a href="/catalog/authors">All Authors</a></li>
        <li><a href="/catalog/book/create">Create New Book</a></li>
        <li><a href="/catalog/author/create">Create New Author</a></li>
      </ul>
  </body>
</html>
