body {
  display:flex;
  flex-direction: column;
  background-color: #F4FFFD;
  font: 14px "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #2B2D42;
  font-size: 5em;
  margin-left: 475px;
}

.sidebar {
  left: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #FD0100;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 5em;
  font-family: 'Roboto', sans-serif;
}


.sidebar a {
  text-decoration: none;
  color: #F4FFFD;
  display: block;
  transition: transform 0.2s ease-in-out;
}

.sidebar a:hover {
  text-decoration: none;
  color: #2B2D42;
  display: block;
  background-color: transparent;
  transform: scale(1.05);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 8px;
}

.content {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  margin-left: 475px;
}

.content h1 {
  font-size: 2em;
}

.content h2 {
  font-size: 3em;
}

.content p {
  font-size: 2em;
  margin: 2px;
}

.content a {
  text-decoration: none;
  font-size: 2em;
}

.content ul li {
  margin-bottom: 50px;
}

.content ul li p {
  margin-top: -15px;
}

ul li::marker {
  font-size: 2.5em;
  color: #2B2D42;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input,
.form-group select,
textarea,
button {
    font-size: 36px;
}

label {
    font-size: 20px;
}

button {
  background-color: transparent;
  color: #000000;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5em;
}

button:hover {
  background-color: #2B2D42;
  color: #F4FFFD;
}

.book_name {
  color: #2B2D42;
  font-size: 4em;
}

#summary {
  resize: none;
}